/* styles-StoriesDetails.css */

@import './stylesBase.css';

.stories-container {
    padding-top: calc(var(--spacing) * 3);
    min-height: 100vh;
    background-color: var(--primary-color);
}

.stories-details-content {
    width: 100%;
    max-width: 800px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

/* Header */
.stories-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing);
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.stories-back-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    color: var(--secondary-color);
    font-size: 1.2rem;
}

.hamburger-menu {
    background: transparent;
    border: none;
    color: var(--secondary-color);
    font-size: 1.5rem;
    cursor: pointer;
}

.logo {
    color: var(--secondary-color);
    font-size: 1.3rem;
    margin: 0;
}

/* Títulos */
.stories-main-title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--secondary-color);
    margin-bottom: 2rem;
    text-align: center;
}

/* Story Item */
.story-item {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: var(--spacing);
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 125%;
}

.story-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }

.story-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.story-description-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary-color);
    margin: 0;
}

.story-description {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
}



@media (max-width: 1024px) {
    .story-item {
        width: 100%; /* Asegura que los elementos ocupen el ancho completo en tablets */
    }
}

@media (max-width: 768px) {
    .stories-header {
        padding: calc(var(--spacing) / 2);
        height: auto; /* Altura automática */
        flex-wrap: wrap; /* Permite que los elementos se envuelvan */
    }

    .stories-details-content {
        padding: 1rem;
        margin-top: 10%; /* Margen superior para el encabezado fijo */
    }

    .stories-main-title {
        font-size: 1.5rem;
    }

    .story-description-title {
        font-size: 1rem;
    }

    .story-description {
        font-size: 0.95rem;
    }

    .tasks-title {
        font-size: 1.25rem;
    }
}

@media (max-width: 480px) {
    :root {
        --spacing: 10px; /* Reducir espaciado en dispositivos pequeños */
    }

    .stories-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        font-size: 1.1rem;
    }

    .stories-back-btn,
    .hamburger-menu {
        font-size: 1rem;
    }

    .stories-main-title {
        font-size: 1.2rem;
    }

    .story-item {
        padding: 0.8rem;
    }
}